<!DOCTYPE html>
<html>
	<head>
			<link rel="stylesheet" type="text/css" href="/style.css">
			<script src="../static/javascript.js"></script>
			<style>
				@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300&display=swap');
			</style>
	</head>
	<body>

		<!-- Barre de navigation (navbar) -->
		<div class="navbar">
			<div>
				<a href="/">Accueil</a>
				<a href="#">Entrepôt 1</a>
				<a href="#">Entrepôt 2</a>
				<a href="#">Entrepôt 3</a>
				<a href="/"><img class="pack" src="../img/packages.png" alt=""></a>
			</div>    
		</div>

		<input class="hamburger" type="checkbox" id="votre_id" tabindex="0">
		<label for="votre_id" aria-label="Menu"></label>

		<nav>

			<ul>
				<li><a tabindex="0" href="#!"><span class="hover-underline-animation">Rubrique 1</span></a></li>
				<li><a tabindex="0" href="#!"><span class="hover-underline-animation">Rubrique 2</span></a></li>
				<li><a tabindex="0" href="#!"><span class="hover-underline-animation">Rubrique 3</span></a></li>
				<li><a tabindex="0" href="#!"><span class="hover-underline-animation">Rubrique 4</span></a></li>
				<li><a tabindex="0" href="/JSON"><span class="hover-underline-animation">JSON</span></a></li>
			</ul>
	
		</nav>

		<div class="all_container1">
			<div class="container_infoEntrepot">
				<h1><%= entrepot_info.name %></h1>
				<h2>Info sur l'entrepot :</h2>
				<div class="container_p">
					<p><b>ID de l'entrepot :</b> <%= entrepot_info.id %></p>
					<p><b>Date de creation :</b> <%= entrepot_info.date_creation %></p>
					<p><b>Pays:</b> <%= entrepot_info.pays %></p>
					<p><b>Ville:</b> <%= entrepot_info.ville %></p>
					<p><b>Capacité max:</b> <%= entrepot_info.cap_max %></p>
				</div>
			</div>
		
			<div class="container_table">
				<div class=""></div>
				<h3>Capacité : <%= quantity_all %> / <%= entrepot_info.cap_max %></h3>
				<p>Il reste <%= entrepot_info.cap_max - quantity_all  %> de places</p>
				<table  id="table">
					<tr>
						<th>Nom Objet </th>
						<th>Type <a href="#!" ><img class="fleche" id="fleche_type" id_row="1" src="../img/fleche-vers-le-bas.png" alt="" onclick="rotate(event)"></a></th>
						<th>Image</th>
						<th>ID Objet <a href="#!"><img class="fleche" id="fleche_ID" id_row="3" src="../img/fleche-vers-le-bas.png" alt="" onclick="rotate(event)"></a></th>
						<th>Quantité <a href="#!"><img class="fleche" id="fleche_Q" id_row="4" src="../img/fleche-vers-le-bas.png" alt="" onclick="rotate(event)"></a></th>
					</tr>

					<% stock_info.forEach(function(objet) { %>
						<tr>
							<td><%= objet.name %></td>
							<td><%= objet.type_name %></td>
							<td><img src="<%= objet.image %>" style: width="30%"></td>
							<td><%= objet.id %></td>
							<td><%= objet.quantity %></td>
						</tr>
					<% }); %>
					
				</table>
			</div>
		</div>

      <footer>
        <p>&copy; 2023 Mon Entreprise. Tous droits réservés.</p>
      </footer>
  </body>
</html>

<script>
	function rotate(event) {
		var fleche = event.target;
		var currentTransform = fleche.style.transform;
    	var currentRotation = parseInt(fleche.getAttribute("data-rotation") || 0);
    	var newRotation = currentRotation + 180;
		fleche.setAttribute("data-rotation", newRotation);
		fleche.style.transform = `rotate(${newRotation}deg)`;
		sortTable(fleche);
	}

	function sortTable(fleche) {
		var id_row = fleche.getAttribute("id_row");
		var tri_az = (fleche.getAttribute("tri_az") || false);

		var table, rows, switching, i, x, y, shouldSwitch;
		table = document.getElementById("table"); // Remplacez "myTable" par l'ID de votre tableau
		switching = true;
		
		while (switching) {
			switching = false;
			rows = table.rows;
			
			for (i = 1; i < (rows.length - 1); i++) {
				shouldSwitch = false;
				x = rows[i].getElementsByTagName("td")[id_row];
				y = rows[i + 1].getElementsByTagName("td")[id_row];
				
				if (!tri_az){
					if (x.innerHTML > y.innerHTML) {
						shouldSwitch = true;
						fleche.setAttribute("tri_az", true);
						break;
					}
				}else{
					if (x.innerHTML < y.innerHTML) {
						shouldSwitch = true;
						fleche.setAttribute("tri_az", false);
						break;
					}
				}
			}
			
			if (shouldSwitch) {
				rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
				switching = true;
			}
		}
	}
</script>
